menu "TouchPad Configuration"

    config RECEIVER_MAC_ADDR
        string "Receiver MAC Address"
        default "FF:FF:FF:FF:FF:FF"
        help
            Enter the MAC address of your PTP 2.4G Reciever in XX:XX:XX:XX:XX:XX format.

    config TOUCHPAD_HAPTIC_FEEDBACK
    bool "Support Haptic Feedback (HID Page 0x0E)"
    default n
    help
      Enables support for Simple Haptic Controller. 
      This allows the host to trigger vibration waveforms 
      for clicks and other UI interactions.

    config TOUCHPAD_PRESSURE_REPORTING
        bool "Support Pressure Threshold Configuration"
        default n
        help
        Allows the host to configure the button press threshold 
        via Feature Report 64. 
        The hardware supports a range of 110g to 190g.

    choice
        prompt "Select TouchPad Model"
        default ELAN_LENOVO_33370A
        help
        Select TouchPad model what you used. Different model may use different solution to translate hid data.

    config ELAN_LENOVO_33370A
        bool "Lenovo ELAN 33370A TouchPad (Rev.A S8974A)"

    config MI_GOODIX_HAPTIC_ENGINE
        bool "XiaoMi book 14/16 pro Goodix TouchPad"

    endchoice

endmenu